<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>YelpCamp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js">
	<link rel="stylesheet" href="/styleSheets/home.css">
</head>
<body>
	<div class="container">
		<% if(err && err.length>0){ %>
			<div class="alert alert-danger" role="alert">
				<%= err %>
			</div>
		<% } %>
		<% if(success && success.length>0){ %>
			<div class="alert alert-success" role="alert">
					<%= success %>
			</div>
		<% } %>
    </div>

    <div id='home-header'>
        <h1>Welcome To YelpCamp!</h1>
        <a href="/campgrounds" class="btn btn-success">View All Campgrounds</a>
    </div>
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
<%- include('./partials/footer')-%>